<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--ESTILOS COMUNES A TODAS LAS SECCIONES DE LA APLICACION-->
        <%- include ('../partials/common-styles-links.ejs') %>
    <!---->

    <link rel="stylesheet" href="/css/users/users-show-all-styles.css">

    <title>Alta de usuario</title>
</head>
<body>
    <!--INICIO DEL HEADER-->
        <%- include ('../partials/header.ejs') %>
    <!--FIN DEL HEADER-->

    <!--INICIO DE LA SECCION DE LOS ACCESOS DIRECTOS A FUNCIONALIDADES MAS USADAS-->
        <%- include ('../partials/shortcut.ejs') %>
    <!--FIN DE LA SECCION DE LOS ACCESOS DIRECTOS A FUNCIONALIDADES MAS USADAS-->

    <!--SCRIPTS COMUNES A TODAS LAS SECCIONES DE LA APLICACION-->
    <%- include ('../partials/common-script-links.ejs') %>
    <!---->

    <main class="main">
        <h1 class="tittle">LISTADO DE TODOS LOS USUARIOS</h1>

        <table>
            <thead>
                <tr>
                    <th>Nombre y Apellido</th>
                    <th>Dependencia</th>
                    <th class="table-column-see">Ver</th>
                    <th class="table-column-edit">Editar</th>
                    <th class="table-column-delete">Eliminar</th>
                </tr>
            </thead>

            <tbody>
                <% users.forEach ((oneUser) => { %>
                    <tr>
                        <th><%= oneUser.first_name + ' ' + oneUser.last_name %></th>
                        <th><%= oneUser.dependencie %></th>
                        <td class="table-column-see"><a class="button-see" href=""><i class="fa-solid fa-eye"></i></a></td>
                        <td class="table-column-edit"><a class="button-edit" href="/users/edit/<%= oneUser.id %>"><i class="fa-solid fa-pen-to-square"></i></a></td>
                        <td class="table-column-delete">
                        <form action="/users/<%= oneUser.id %>?_method=delete" method="post">
                            <button class="button-delete"><i class="fa-solid fa-trash-can"></i></button>
                        </form>
                    </td>
                    </tr>
                <% }); %>

            </tbody>

        </table>

    </main>

    <!--INICIO DEL FOOTER-->
        <%- include ('../partials/footer.ejs') %>
    <!--FIN DEL FOOTER-->

</body>
</html>